*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-family: sans-serif;
}
#NAVBAR {
  height: 40px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  color: white;
}

a{
   padding: 10px;
   text-decoration: none;
   color: white;
}
#NAVBAR-NOL {
  background-color: rgb(18, 168, 18);
  display: flex;
  align-items:center;
  flex-wrap: wrap;
  width: 200px;
  padding-left: 50px;
}
.NAVBAR-LINK{
  display: flex;
  align-items:center;
  padding-right: 50px;
  padding-left: 50px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.wrapper {
  display: flex;  
  flex-flow: row wrap; 
}

.main {
  text-align: left;
}

.aside {
  margin: 20px;
  height: 580px;
  background-color: white;
  border: 3px solid black;
  padding: 40px;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
}

.container {
  height: 180px;
  background-color: white;
  color: white;
  border: 3px solid black;
  padding: 40px;
  margin: 20px;
  justify-content: flex-end;
}

.item {
  padding: 40px;
  margin: 10px;
  background-color: black;
}

.flex-start{
  justify-content: flex-start;
}

.space-around{
  justify-content: space-around;
}

