*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-family: sans-serif;
}
#NAVBAR {
  height: 40px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  color: white;
}

a{
   padding: 10px;
   text-decoration: none;
   color: white;
}
#NAVBAR-NOL {
  background-color: rgb(18, 168, 18);
  display: flex;
  align-items:center;
  flex-wrap: wrap;
  width: 200px;
  padding-left: 50px;
}
.NAVBAR-LINK{
  display: flex;
  align-items:center;
  padding-right: 50px;
  padding-left: 50px;
}


main {
  height: 750px;
  padding-left: 60px;
  background-color: white;
  display: flex;
  flex-direction:column;
  flex-wrap: wrap; 
  gap: 10px; 
  padding-top: 3%;
}

.mainSection {
  height: 180px;
  background-color: white;
  width: 750px;
  border: 3px solid black;
  padding: 40px;
}

.mainSection > ul{
  padding-left: 40px;
  line-height: 30px;
}

#rightPanel {
  min-height: 560px;
  width: 350px;
  display: flex;
  flex-direction:column;
  border: 3px solid black;
  padding: 20px;
}

#rightPanel >h2 {
  line-height: 30px;
}

#rightPanel > p{
  line-height: 30px;
}